@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter+Tight:ital,wght@0,100..900;1,100..900&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url(/assets/img/bg.jpg);
  background-position: center;
}

/* Sezione Header contenente background-img-logo  */

#header {
  width: 100%;
  margin-top: 20px;
  margin-bottom: 20px;
}

/* PRIMA PAGINA (INDEX.HTML) */
.container-logo,
img {
  padding: 10px;
  margin-left: 90px;
  width: 28%;
}

#main1 {
  margin-left: 100px;
}

#container-instructions {
  font-size: 1.1em;
  font-family: "Outfit", sans-serif;
  text-align: left;
}

#titolo1 {
  font-display: block;
  font-family: "Outfit", sans-serif;
  font-weight: 250;
  margin-bottom: 13px;
  width: 100%;
  font-size: 4.2rem;
  color: #e7e7eb;
}

#titolo1 .bold {
  margin-top: -20px;
  display: block;
  font-weight: 600;
}

#container-lista {
  margin-left: 15px;
  color: #bfd1d7;
  line-height: 1.5;
}

.bold {
  font-weight: 700;
  color: #e7e7eb;
  font-family: "Outfit", sans-serif;
}

.violet {
  font-family: "Outfit", sans-serif;
  font-size: 1.8em;
  font-weight: 600;
  margin-top: 30px;
  margin-bottom: 7px;
  color: #c2128d;
}

#container-instruction,
p {
  font-family: "Inter Tight", sans-serif;
  margin-bottom: 30px;
  color: #bfd1d7;
  font-size: 0.9em;
}

#container-form-index {
  margin-top: 100px;
  color: white;
  font-weight: 400;
}

.material-symbols-outlined {
  font-size: 21px;
  text-align: center;
  position: relative;
  top: -3.5px;
  left: -3.5px;
  font-weight: 900;
}

#policy {
  font-weight: 700;
  font-size: 0.9em;
  display: inline-block;
  margin-left: 10px;
}

#rude-checkbox {
  height: 17px;
  width: 17px;
  border: 1.8px solid white;
  display: inline-block;
  vertical-align: middle;
}

#start,
#container-instructions {
  display: inline-block;
}

/*SECONDA PAGINA , QUIZ E RISPOSTE (timer) */
#timer {
  position: absolute;
  top: 20px;
  right: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.timer-circle {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: #f0f0f0;
  border: 5px solid #009688;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.timer-text {
  font-size: 30px;
  font-weight: bold;
  color: #009688;
}

.timer-label {
  font-size: 12px;
  color: #555;
}
.containerTest {
  width: 100%;
  text-align: center;
}
#main2 {
  margin-top: 150px;
  color: white;
  width: 60%;
  margin: 0 auto;
}

#titolo2 {
  margin-bottom: 80px;
}

#container-answers div {
  display: inline-block;
  padding: 15px 170px;
  border: 0px solid white;
  border-radius: 200px;
  box-shadow: -1px -2.5px 2px 1.7px;
  margin: 40px;
  background-color: rgba(255, 255, 255, 0.1);
}
#invio-risposta {
  font-size: 1.5rem;
  margin: 80px auto;
  padding: 10px 60px;
  border: 0px solid white;
  border-radius: 200px;
  box-shadow: -1px -2.5px 2px 1.7px;
  background-color: rgba(255, 255, 255, 0.1);
  color: white;
  margin: 30px auto 0;
  color: #0a032e;
  font-weight: 700;
  font-size: 1.2em;
  background-color: #02ffff;
  box-shadow: 0 0 20px rgba(2, 255, 255, 0.5), 0 0 20px rgba(2, 255, 255, 0.5), 0 0 20px rgba(2, 255, 255, 0.5);
  border: none;
  height: 55px;
  width: 200px;
}
.questViolet {
  color: #c2128d;
}

/* 3 pagina , Risultati pagina (diagramma e %) */

#containerDiagram {
  width: 400px;
  height: 400px;
}

#responsesDiagram {
  width: 300px;
  height: 300px;
}

/* 4 pagina ,  Feedback  */
#titolo4 {
  font-display: block;
  font-family: "Outfit", sans-serif;
  font-weight: 700;
  margin-bottom: 40px;
  width: 100%;
  font-size: 3rem;
  color: #e7e7eb;
  text-align: center;
}

.container-titolo {
  width: 110%;
  margin: 0 auto;
  text-align: center;
  margin-left: -40px;
}

#main1 {
  width: 60%;
  margin: 0 auto;
  text-align: center;
}

.container-titolo p {
  font-size: 1.8em;
  font-family: "Inter Tight", sans-serif;
}

.container-stelline {
  width: 45%;
  font-size: 5em;
  margin-bottom: 30px;
  display: inline-flex;
  flex-direction: row-reverse;
  font-weight: 900;
  justify-content: center;
}

.container-stelline .star {
  font-size: 0.7em;
  color: #0a274f;
  cursor: pointer;
  transition: color 0.2s;
}

.container-stelline input[type="checkbox"] {
  display: none;
}

.container-stelline .star:hover,
.container-stelline .star:hover ~ .star {
  color: #00ffff;
}

.container-stelline input[type="checkbox"]:checked ~ label.star {
  color: #00ffff;
}

.container-stelline input[type="checkbox"]:checked ~ label.star,
.container-stelline input[type="checkbox"]:checked ~ label.star + input[type="checkbox"] ~ label.star {
  color: #00ffff;
}

#main4 {
  width: 60%;
  margin: 0 auto;
  text-align: center;
}

#comment-form-container label {
  text-align: center;
  color: white;
  font-size: 1.8em;
}

#commento {
  margin-top: 50px;
  display: block;
  overflow: hidden;
  width: 100%;
  background-color: transparent;
  border: none;
  font-size: 1.4em;
  border-bottom: 2px solid #c2138e;
  height: min-content;
  color: white;
  resize: none;
}

#commento:focus,
#commento:active {
  outline: none;
}

#comment-form-container {
  width: 80%;
  margin: 50px auto;
}

.star {
  margin: 0 5px;
}

/* Bottoni */
#start,
#invio-commento {
  margin: 30px auto 0;
  color: #0a032e;
  font-weight: 700;
  font-size: 1.2em;
  background-color: #02ffff;
  border: none;
  margin-top: 60px;
  margin-bottom: 60px;
}

/* dimensioni bottoni */
.bottone {
  display: inline-block;
  height: 55px;
  width: 200px;
}

#invio-commento:hover,
#start:hover {
  cursor: pointer;
}
#rude-checkbox:hover {
  cursor: pointer;
}
